/*
BMW PALLETE
LIGHT BLUE = #00B7F0
DARK BLUE = #024ED5
RED = #F6231C
WHITE = #FFF
*/

body {
    font-family: "Poppins", sans-serif;
    background-color: #f8fafb;
    overflow-x: hidden;
}

p {
    color: #b3b3b3;
    font-weight: 300;
}

.guidebook-desc p{
    color: rgb(0, 0, 0);
}

.article p{
    color: rgb(0, 0, 0);
}

.guidebook-desc{
    max-height: 150px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

a:hover {
    text-decoration: none !important;
}

.btn-primary {
    color: #fff;
    background-color: #024ED5;
}

.btn-primary:hover {
    color: #fff;
    background-color: #f8fafb !important;
    border-color: #fff !important;
}

.content {
    padding: 7rem 0;
}

h2 {
    font-size: 20px;
}

.card-menu{
    color: rgb(49, 49, 49);
}

.btn-logout{
    background-color: transparent;
    outline: none;
    border: none;
}

.btn-logout:active, .btn-logout:focus{
    background-color: transparent;
    outline: none;
    border: none;
}

@media (max-width: 991.98px) {
    .content .bg {
        height: 500px;
    }
}

.content .contents,
.content .bg {
    width: 50%;
}

@media (max-width: 1199.98px) {

    .content .contents,
    .content .bg {
        width: 100%;
    }
}

.content .contents .form-group,
.content .bg .form-group {
    overflow: hidden;
    margin-bottom: 1rem;
    padding: 15px 15px;
    border-bottom: none;
    position: relative;
    background: #edf2f5;
    border-bottom: 1px solid #e6edf1;
}

.content .contents .form-group label,
.content .bg .form-group label {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.content .contents .form-group input,
.content .bg .form-group input {
    background: transparent;
}

.content .contents .form-group.first,
.content .bg .form-group.first {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.content .contents .form-group.last,
.content .bg .form-group.last {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.content .contents .form-group label,
.content .bg .form-group label {
    font-size: 12px;
    display: block;
    margin-bottom: 0;
    color: #b3b3b3;
}

.content .contents .form-group.focus,
.content .bg .form-group.focus {
    background: #fff;
}

.content .contents .form-group.field--not-empty label,
.content .bg .form-group.field--not-empty label {
    margin-top: -20px;
}

.content .contents .form-control,
.content .bg .form-control {
    border: none;
    padding: 0;
    font-size: 20px;
    border-radius: 0;
}

.content .contents .form-control:active,
.content .contents .form-control:focus,
.content .bg .form-control:active,
.content .bg .form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.content .bg {
    background-size: cover;
    background-position: center;
}

.content a {
    color: #888;
    text-decoration: underline;
}

.content .btn {
    height: 54px;
    padding-left: 30px;
    padding-right: 30px;
}


.inline-block {
    display: inline-block;
}

.img-logo {
    margin-top: -1.8rem;
    margin-right: 0.25rem;
}

.footer {
    justify-content: space-between;
}


.ladybag-navbar {
    font-size: 22px;
}

.lady-navbar {
    font-size: 15px;
}

.sidebar {
    background-color: #ffff;
    min-height: 100vh;
}

.admin-title {
    font-size: 20px;
}

.nav-link.active {
    background-color: #f8fafb !important;
    color:#01B4EE;
    padding: 15px;
}

hr {
    border-color: rgba(255, 255, 255, 0.5);
}

.logout-sidebar {
    display: none;
}

.menu-toggle {
    display: none;
}

input[type="search"].form-control {
    border-radius: 20px;
    padding: 4px 20px;
}

.form-entries {
    border-color: #b3b3b3;
}

.btn-see {
    background-color: #01B4EE;
    color: #fff;
}

.btn-see:hover,
.btn-see:active,
.btn-see:focus {
    background-color: #0395c5;
    color: #fff;
}

input[type="file"].upload_form {
    border-radius: 4px;
    border: 1px solid #d1d0d0;
    cursor: pointer;
    width: 100%;
}

input[type="file"].upload_form::-webkit-file-upload-button {
    border: none;
    padding: 5px 10px;
}

input[type="date"],
select,
option {
    cursor: pointer;
}

.siswa-title {
    line-height: 65px;
}

.default-img {
    height: 300px;
    overflow: hidden;
}

.card-dashboard-count{
    font-size: 35px;
}

.company-name,
.job-position {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.dropdown-checkbox {
    min-width: 100%;
    text-align: left;
    border: 1px solid #d1d0d0;
    border-radius: 4px;
}

.dropdown-menu {
    width: 100%;
}

.list-group-item {
    background-color: transparent;
}

.date-range {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

@media only screen and (max-width: 992px) {
    .sidebar-text {
        display: none;
        color:black;
    }

    .admin-title {
        font-size: 12px;
    }

    h1.siswa-title {
        font-size: 1.8rem;
        line-height: 40px;
    }
}

@media only screen and (max-width: 600px) {
    .sidebar-text {
        display: inline;
        color:black;
    }

    .admin-title {
        font-size: 14px;
    }

    .ladybag-navbar {
        font-size: 12px;
    }

    .lady-navbar {
        font-size: 10px;
    }

    .logout-mobile {
        display: none;
    }

    .logout-sidebar {
        display: inline;
    }

    .signout {
        font-size: 25px;
    }

    .sidebar {
        position: absolute;
        z-index: 5;
        left: -100%;
        transition: 0.7s;
    }

    .sidebar.slider {
        left: 0;
        transition: 0.7s;
    }

    .mobile-navbar {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }

    .default-img {
        height: auto;
    }
}
.order-card {
    color: #fff;
}

.bg-c-blue {
    background: linear-gradient(45deg,#4099ff,#73b4ff);
}

.bg-c-green {
    background: linear-gradient(45deg,#2ed8b6,#59e0c5);
}

.bg-c-yellow {
    background: linear-gradient(45deg,#FFB64D,#ffcb80);
}

.bg-c-pink {
    background: linear-gradient(45deg,#FF5370,#ff869a);
}
.container{
    margin-top: 80px;
}


.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.card .card-block {
    padding: 25px;
}

.order-card i {
    font-size: 26px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}
